<div id="q{{ response.quiz_question.order_sequence }}" class="card shadow-sm mb-4 border-2 {% if response.marks_given > 0 %}border-success{% elif response.marks_given == 0 %}border-danger{% else %}border-warning{% endif %} w-100"
     style="min-height: 400px;">
    <div class="card-body p-4 p-md-5 position-relative d-flex flex-column">
        <div class="d-flex mb-4">
            <h4 class="fw-bold me-4">Q{{ response.quiz_question.order_sequence }}</h4>
            <div class="fs-5 w-100">
                {{ response.quiz_question.question.question_text|safe }}
            </div>
        </div>

        <div class="ps-md-5 mb-4">
            {% for option in response.quiz_question.question.mcqoption_set.all %}
                <div class="form-check mb-3">
                    <input class="form-check-input fs-5 shadow-none border-dark-subtle"
                           type="{% if response.quiz_question.question.mcqoption_set.first.isMultipleAnswers %}checkbox{% else %}radio{% endif %}"
                           disabled
                           {% if option.id in user_selected_option_ids %}checked{% endif %}>

                    <label class="form-check-label fs-5 ms-2 {% if quiz.review_right_answer and option.is_correct %}text-success fw-bold{% endif %}">
                        {{ option.option_text }}
                    </label>

                    {% if quiz.review_specific_feedback and option.id in user_selected_option_ids and option.option_feedback %}
                        <div class="mt-2 p-2 border border-secondary text-secondary bg-secondary-subtle rounded-1 small fw-medium" style="max-width: 500px;">
                            {{ option.option_feedback }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        {% include 'partials/review/review_feedback_footer.html' %}
    </div>
</div>

{% if request.htmx %}
    <div id="score-widget-container" hx-swap-oob="true">
        {% include 'partials/teacher/update_mark_partial.html' %}
    </div>
{% endif %}