<div id="section-essay" class="card border-0 shadow-sm rounded-4 mb-4 question-section">
    <div class="card-header bg-success text-white py-3">
        <h4 class="h5 mb-0 fw-bold"><i class="bi bi-justify me-2"></i> Essay Settings</h4>
    </div>
    <div class="card-body p-4">
        <div class="row g-3">
            <div class="col-md-3">
                <label class="form-label fw-bold">Min Words</label>
                <input type="number" class="form-control" name="essay_minword" value="{{ essay_options.minimum_word_length }}">
            </div>
            <div class="col-md-3">
                <label class="form-label fw-bold">Max Words</label>
                <input type="number" class="form-control" name="essay_maxword" value="{{ essay_options.maximum_word_length }}">
            </div>
            <div class="col-md-3">
                <label class="form-label fw-bold">Max Mark</label>
                <input type="number" step="0.1" class="form-control" name="essay_max_mark" value="{{ essay_options.maximum_mark }}">
            </div>
            <div class="col-md-3">
                <label class="form-label fw-bold small">Negative Mark</label>
                <input type="number" step="0.1" class="form-control" name="essay_negative_mark" value="{{ essay_options.negative_mark }}">
            </div>
            <div class="col-12 mt-3">
                <label class="form-label fw-bold">Model Answer (For Grading Reference) <span class="text-danger">*</span></label>
                <textarea class="form-control" name="essay_model_answer" rows="4">{{ essay_options.model_answer }}</textarea>
            </div>
        </div>
    </div>
</div>