{% extends 'base.html' %}
{% load static %}
{% block title %} Password Changed {% endblock %}

    {% block extra_css %}<link rel="stylesheet" href="{% static '/users/auth.css' %}"> {% endblock %}

{% block content %}
    <div class="login-wrapper text-center">
        <div class="form-signin">
            <h1 class="h3 mb-3 fw-normal">Success!</h1>
            <p class="text mb-3">Your password has been updated successfully.</p>
            <a href="{% url 'login' %}" class="w-100 btn btn-lg btn-primary">Return to Login</a>
        </div>
    </div>
{% endblock %}

admin123456?