{% extends 'base.html' %}
{% load static %}

{% block title %}Password Reset Sent{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/users/users.css' %}">
{% endblock %}

{% block content %}
<div class="login-wrapper text-center">

    <div class="form-signin">

        <h1 class="h3 mb-4 fw-normal">Email Sent!</h1>

        <p class="text mb-3">
            We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
        </p>

        <p class="text-muted small mb-4">
            <em>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</em>
        </p>

        <a href="{% url 'login' %}" class="w-100 btn btn-lg btn-primary">Return to Login</a>

    </div>
</div>
{% endblock %}