{% for user in users %}
    <tr>
{#        <th scope="row" class="ps-4 py-3">#}
{#            <py-3 fw-bold text-dark fs-5">{{ user.id }}#}
{#        </th>#}
        <td class="py-3 fw-bold text-dark fs-5">{{ user.id }}</td>
        <td class="py-3 text-dark fs-5">{{ user.username }}</td>

        <td class="py-3  text-dark fs-5">{{ user.first_name }}</td>

        <td class="py-3  text-dark fs-5">{{ user.last_name }}</td>
        <td class="py-3  text-dark fs-5">{{ user.email }}</td>
        {% if user.role == 0 %}
            <td class="py-3  text-dark fs-5">Student</td>
        {% elif user.role == 1 %}
            <td class="py-3  text-dark fs-5">Teacher</td>
        {% else %}
            <td class="py-3  text-dark fs-5">Admin</td>
        {% endif %}


{#        <td class="py-3 fw-bold text-dark fs-5">{{ user.role }}</td>#}

        <td class="pe-4 py-3 text-center">
            <a href="#" class="btn btn-sm btn-outline-dark px-3 rounded-2 fw-medium">
                <i class="bi bi-gear me-1"></i> Manage
            </a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="7" class="text-center py-5 text-muted">
            <i class="bi bi-person-x display-4 d-block mb-3"></i>
            <h5>No users found</h5>
        </td>
    </tr>
{% endfor %}